@import "/scss/settings/_reset";
@import "/scss/settings/_variables";
@import "/scss/settings/_mixins";
@import "/scss/settings/_buttons";

html {
  scroll-behavior: smooth;
  font-size: 16px;
  min-width: 220px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: $font-raleway;
  min-width: 220px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include small_desktop {
    width: $container-width-small-desktop;
  }

  @include tablet {
    width: 100%;
    max-width: none;
  }
}

.highlights {
  .container__highlights {
    max-width: 1124px;

    @include smallest_desktop {
      max-width: 860px;
    }

    @include tablet {
      max-width: none;
      width: 90%;
      margin: 0 auto;
    }

    @include mobile {
      width: 95%;
    }
  }
}

@import "/scss/sections/_nav";
@import "/scss/sections/_hero";
@import "/scss/sections/_statistics";
@import "/scss/sections/_highlights";
