.highlights {
  background-color: $color-light-grey;
  padding-top: 105px;
  padding-bottom: 105px;

  .container__highlights {
    height: 370px;
    background-color: $color-white;
    margin-bottom: 37px;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    /* First highlight */

    .highlights__left-column--first-highlight {
      margin-left: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .highlights__right-column--first-highlight {
      display: flex;
      margin-right: 117px;
      position: relative;

      .highlights__right-column__image--first-highlight {
        margin-top: 113px;
        margin-bottom: 38px;
        z-index: 1;
      }

      &::after {
        content: "";
        display: block;
        background-color: $color-redish;
        position: absolute;
        height: 180px;
        width: 180px;
        right: 0px;
        top: 70px;
        border-radius: 40px;
        transform: rotate(45deg);
        z-index: 0;
      }
    }

    /* Second highlight */

    .highlights__right-column--second-highlight {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .highlights-title--second-highlight {
        max-width: 246px;
      }

      .highlights-subtitle--second-highlight {
        max-width: 416px;
        margin-right: 20px;

        &::after {
          content: "";
          display: block;
          background-color: $color-primary;
          height: 4px;
          margin-top: 50px;
          width: 332px;
        }
      }
    }

    .highlights__left-column--second-highlight {
      position: relative;
      z-index: 0;

      .highlights__left-column__image--second-highlight {
        width: 56%;
        height: auto;
        margin-left: 70px;
        margin-top: 29px;
        margin-bottom: 13px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $color-primary;
        height: 320px;
        width: 320px;
        left: 70px;
        top: 12px;
        border-radius: 50%;
        z-index: -1;
      }
    }

    //
  }

  @include smallest_desktop {
    .container__highlights {
      .highlights__left-column--first-highlight {
      }

      .highlights__right-column--first-highlight {
        margin-right: 45px;
      }
    }
  }

  @include tablet {
    padding-top: 42px;
    .container__highlights {
      .highlights__left-column--first-highlight {
        width: 60%;
        margin-right: 25px;
      }

      .highlights__right-column--first-highlight {
        margin-top: 25px;
        margin-bottom: 25px;

        // width: 20%;

        .highlights__right-column__image--first-highlight {
          object-fit: contain;
          margin-top: 0px;
          margin-bottom: 0px;

          //hard code - tb changed - %%% doesn't work
          width: 250px;

          //   or works???? With 20% of container above
          // TBD
          //   width: 100%;
        }
      }

      //

      //font sizes change bc of specifity
      //otherwise, it would be the same
      // coz font sizes declared BELOW
      .highlights-title {
        font-size: 1.875rem;
      }
      .highlights-subtitle {
        font-size: 0.875rem;

        &::after {
          width: unset;
        }
      }
    }
  }
}

/* Widows */

.highlights-title {
  text-align: left;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.highlights-subtitle {
  font-family: $font-open-sans;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: var(--color-black);
}

.highlights-subtitle::after {
  content: "";
  display: block;
  background-color: $color-redish;
  height: 4px;
  margin-top: 50px;
  width: 332px;
}

/* Third highlight */

.container-2-columns {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: $container-width;
  width: 1124px;

  .column {
    border: 1px solid #e8e9ed;
    border-radius: 4px;
    background-color: $color-white;
  }

  .left-column {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .highlights-title__left-column {
      max-width: 348px;
    }

    .highlights-subtitle__left-column {
      max-width: 553px;

      &::after {
        content: "";
        display: block;
        background-color: $color-green;
        height: 4px;
        margin-top: 50px;
        width: 60%;
      }
    }
  }

  .right-column {
    background-color: $color-green;
    border: 1px solid $color-green;
    border-radius: 4px;
    width: 39%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;

    .right-column__image {
      margin-top: 40px;
      width: 68%;
      height: auto;
    }
  }
}
