### Node ###
logs
*.log
npm-debug.log*
node_modules/
.sass-cache/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
.settings/
.vscode/

### Webstorm ###
.idea/

### Other ###
.test/
.solution

### Parcel ###
parcel-cache
.parcel-cache
.dist
.node_modules