@mixin small_desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

// works from 1130 to 870px
@mixin smallest_desktop {
  @media (max-width: 1130px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 870px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 670px) {
    @content;
  }
}

@mixin input-forms {
  width: 100%;
  min-height: 40px;
  box-shadow: 0px 3px 6px #08a6e429;
  border: 1px solid $color-primary;
  border-radius: 6px;
}

@mixin input-forms__placeholders {
  padding: 11px 0;

  font-size: 0.8125rem;
  line-height: 0.8125rem;
  font-family: $font-open-sans;
  color: $color-text-grey;
}
