html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color-red: rgba(255, 0, 0, 1);
  --color-black-graphite-dark-sections: #28272c;
  --color-black-light-form-border: rgba(209, 209, 209, 1);
  --color-black-light-form-placeholder: rgba(178, 178, 178, 1);
  --color-black-light-grey_text_article: rgba(106, 106, 106, 1);
  --color-black-light-grey_text_article_dark: rgba(178, 178, 178, 1);
  --font-secondary: "Open Sans";
  --header-height: 900px;
}

body {
  position: relative;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1088px;
  display: flex;
  flex-wrap: wrap;
}

.container-menu {
  width: 1088px;
}

/* BUTTONS */

.btn {
  display: block;
  background-color: var(--primary-color-red);
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.3);
  border-radius: 40px;
  padding: 25px;
  width: 220px;
}

.btn:hover {
  background-color: rgb(122, 10, 10);
}
